---
---
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
html,
body {
  min-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  overflow-x: hidden;
}
.content {
  flex: 1;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
img {
  border: 0;
}
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2 {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
h1,
h2 {
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
p {
  margin: 0 0 10px;
}
.small {
  font-size: 85%;
}
.text-muted {
  color: #777;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-12, .col-sm-12, .col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active {
  background-image: none;
}
.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.container:after,
.row:after {
  clear: both;
}
@-ms-viewport {
  width: device-width;
}

/*****                                                       *****/
/* Cooming Soon page style by Greentea OS Team and contribuitors */
/*****                                                       *****/


body {
    margin: 0;
    background: #f8f8f8;
    border-top: 10px solid #24c12e;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    font-weight: 400;
    text-align: left;
}

strong {
    font-weight: 700;
}

a,
a:hover,
a:focus {
    color: #e75967;
    text-decoration: none;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

img {
    max-width: 100%;
}

::-moz-selection {
    background: #24c12e;
    color: #000;
    text-shadow: none;
}
::selection {
    background: #24c12e;
    color: #000;
    text-shadow: none;
}

@media (max-width: 767px) {
  .sd-margin-top {
    margin-top: 1.5em;
  }
}

/***** Coming Soon *****/

.coming-soon {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: #272822;
    position:relative;
    overflow:hidden;
}

.coming-soon h1 {
    color: aqua;
}

.inner-bg {
    padding: 55px 0 60px;
  
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}

.coming-soon h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 27px rgba(0, 0, 0, 0.5);
}

.coming-soon p {
    margin: 0;
    font-size: 18px;
    line-height: 36px;
    display: inline-block;
    background: rgba(39, 40, 34,0.6);
}

.coming-soon__paragraph-wrap {
    margin: 20px 0 10px;
}



/***** Content *****/

@media (max-width: 991px) {
    .twitter-wrap,
    .about-us-wrap {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .twitter-wrap,
    .about-us-wrap {
        width: 50%;
    }
}
.twitter-wrap,
.about-us-wrap {
    padding: 0 15px;
    float: left;
}



/***** Footer *****/

.footer__text {
    text-align: center;
    margin-top: 2em;
}
.footer_copyright {
    text-align: left;
}
.footer_social {
    text-align: right;
}
.footer_social {
    margin-top: 1.5em;
}
.footer_social-link {
    height: 1.3em;
    width: 1.3em;
    display: inline-block;
    vertical-align: text-bottom;
}
@media (max-width: 767px) {
    .footer_social-link {
        height: 36px;
        width: 36px;
    }
    .footer_copyright,
    .footer_social {
        text-align: center;
        margin-top: .5em;
    }
}
.footer_social-link img {
    vertical-align: inherit; /* antibootstrap */
}
.footer_lang-popup {
  position: absolute;
  bottom:1.7em;
  width:6em;
  height:0;
  overflow:hidden;
  background: #f8f8f8;
}
.footer_lang-popup > ul {
  position:absolute;
  bottom:0;
  list-style: none;
  padding-left:0;
  margin:0;
}
.footer_lang-popup > ul > li > a {
  padding: 3px 10px;
  display: block;
}
.footer_lang-activator {
  background: 0;
  border: 0;
  position: absolute;
  bottom: -.5em;
  padding: .5em;
}
{% assign languages = site.available | split: ", " %}
{% assign languages = languages | size | plus: 1 %}
.footer_lang-popup:hover,
.footer_lang-activator:active + .footer_lang-popup,
.footer_lang-activator:hover + .footer_lang-popup,
.footer_lang-activator:focus + .footer_lang-popup {
  height:calc({{ languages | times: 1.38 }}em + {{ 6 | times: languages }}px);
  box-shadow: 1px 1px 2px 3px rgba(0,0,0,.2);
}

/***** Media Queries *****/

@media (max-width: 767px) {

    .inner-bg { padding: 45px 0 50px; }

    .coming-soon h2 { font-size: 36px; }
}

.bt {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

/* Navbar brand */
.navbar-brand {
    padding: 10px;
}
.navbar-brand > img {
    max-height: 100%;
    height: 100%;
    object-fit: contain;
    width: auto;
    margin: 0 auto;
}
.navbar-nav__link_current {
    pointer-events: none;
    color: #252525 !important;
}
.expand-drawer,
.drawer-fade {
    display: none;
}
@media (max-width: 767px) {
    .expand-drawer {
        display: block;
        height: 50px;
        width: 50px;
        float: right;
        background: url(/images/menu_24px.svg) center no-repeat;
    }
    .drawer {
        width: 300px;
        max-width: calc(100% - 40px);
        min-height: 100%;
        position: fixed;
        background: #FAFAFA;
        top: 0;
        right: -300px;
        transition-property: right;
        transition: .2s;
        z-index: 1;
    }
    .drawer:target,
    .drawer_expanded {
        right: 0;
    }
    .drawer:target + .drawer-fade,
    .drawer_expanded + .drawer-fade {
        display: block;
        background: rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: default;
    }
    .navbar-nav {
      margin: 0;
    }
}
.feature-box-icon {
  background: #CCC;
    border-radius: 35px;
    color: #FFF;
    display: inline-block;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    top: 5px;
    width: 35px;
    background-color: #24c12e;
}

.section {
padding: 160px 0;
    position: relative;
    display: block;
    z-index: 10;
    overflow: hidden;
    margin: 0;
}
    
mark {
  background-color: #10b715;
  color: #fff;
}    

.carousel-inner {
    background-color: #63696c;
}
.item-image {
    object-fit: cover;
    width: 100%;
}

.alignright{
    padding: 0;
    float: right;
    margin: 6px 0 6px 20px;
    border: 0;
    display: block;
    background: none;
}

.app-icon {
    width: 48px;
    height: 48px;
}
.payment-options {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.payment-options_control:checked + .payment-option {
    background-color: #286090;
    border-color: #204d74;    
}
.payment-options > .payment-option {
    border-radius: 0;
    float: left;
}
.payment-options > .payment-option:first-of-type {
    border-radius: 4px 0 0 4px;
}
.payment-options > .payment-option:last-of-type {
    border-radius: 0 4px 4px 0;
}
.visually-hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
@media (max-width: 767px) {
    .payment-option {
        width: 100%;
    }
    .payment-options > .payment-option:first-of-type {
        border-radius: 4px 4px 0 0;
    }
    .payment-options > .payment-option:last-of-type {
        border-radius: 0 0 4px 4px;
    }
}
{% include backcode.css %}
{% include donations/style.css %}
