.coming-soon {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: #272822;
    position:relative;
    overflow:hidden;
}

.coming-soon h1 {
    color: aqua;
}

.inner-bg {
    padding: 32px 0 32px;

    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}

.coming-soon h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 27px rgba(0, 0, 0, 0.5);
}

.coming-soon p {
    margin: 0;
    font-size: 21px;
    line-height: 36px;
    display: inline-block;
    /*background: rgba(39, 40, 34,0.6);*/
    text-shadow: 0 0px 26px rgba(0, 0, 0, 1);
}

.coming-soon__paragraph-wrap {
    margin: 20px 0 10px;
}
