<footer class="footer">
    <div class="container">
        <p class="text-muted small footer__text">{% include localise.html string="footer_made-by" %}</p>
        <p class="col-md-6 col-sd-12 footer_copyright text-muted small footer__text">{% include localise.html string="footer_copyright" %} {% include localise.html string="footer_team" %}</p>
        <nav class="col-md-6 col-sd-12 footer_social">
          <a class="footer_social-link" href="https://www.facebook.com/OSGreentea/"><img aria-hidden=”true” src="/images/social/facebook.svg"><span class="visually-hidden">our page on facebook</span></a>
          <a class="footer_social-link" href="https://twitter.com/greenteaos"><img aria-hidden=”true” src="/images/social/twitter.svg"><span class="visually-hidden">our page on twitter</span></a>
          <a class="footer_social-link" href="https://vk.com/greenteaos"><img aria-hidden=”true” src="/images/social/vk.svg"><span class="visually-hidden">our page on vk.com</span></a>
          <a class="footer_social-link" href="https://github.com/GreenteaOS"><img aria-hidden=”true” src="/images/social/github.svg"><span class="visually-hidden">our organization on github</span></a>
          <a class="footer_social-link" href="https://telegram.me/greentea_ru"><img aria-hidden=”true” src="/images/social/telegram.svg"><span class="visually-hidden">our group in telegram</span></a>
        </nav>
        
    </div>
</footer>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//k00lagin.ru/greentea-stats/";
    _paq.push(['setTrackerUrl', u+'anal.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'anal-js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//k00lagin.ru/greentea-stats/anal.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
