        <!-- CSS -->
        <noscript>
            {% if page.lang == "ru" %}
                <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic" rel="stylesheet">
            {% else %}
                <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
            {% endif %}
        </noscript>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
        <script async src="{{ site.baseurl }}/assets/js/script.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
