<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                    <a href="#" class="navbar-brand"><img src="images/logo.png"></a><a class="expand-drawer" href="#drawer"></a>
            </div>
            <div id="drawer" class="drawer">
                <ul class="nav navbar-nav navbar-right navbar-uppercase">
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li>
                        <a href="download.html">Download</a>    
                    </li>
                    <li>
                        <a href="https://github.com/OSGreentea/Greentea">Developer</a>    
                    </li>
                    <li>
                        {% if page.lang == "ru" %}
                            <a href="https://github.com/OSGreentea/Greentea/blob/master/russian/README.md">Wiki</a>
                        {% else %}
                            <a href="https://github.com/OSGreentea/Greentea/blob/master/english/README.md">Wiki</a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="about.html">About us</a>
                    </li>
                </ul>
            </div>
            <a class="drawer-fade" href="#0"></a>
        </div>
    </nav>
</header>
