        <!-- CSS -->
        <noscript>
            {% if page.lang == "ru" %}
                <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic" rel="stylesheet">
            {% else %}
                <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
            {% endif %}
        </noscript>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-1.11.1.js"></script>
        <script src="/js/bootstrap.js"></script>
    </head>