<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                    <a href="#" class="navbar-brand"><img src="images/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right navbar-uppercase">
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li>
                        <a href="download.html">Download</a>    
                    </li>
                    <li>
                        <a href="dev.html">Developer</a>    
                    </li>
                    <li>
                        <a href="wiki.html">Wiki</a>
                    </li>
                    <li>
                        <a href="about.html">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
