<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">

    <head>
        {% include redirect.js %}
        <script>
            {% include font-caching.js %}
            {% if page.lang == "ru" %}
                loadFont("CyrillicRoboto", "/css/cyrillic Roboto woff.css", "/css/cyrillic Roboto woff2.css");
            {% endif %}
            loadFont("Roboto", "/css/latin Roboto woff.css", "/css/latin Roboto woff2.css");
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include seo-tag %}
