<div class="header">
	<div class="navbar flex-end">
		<div class="flex-row">
			<a href="/wiki/community.html" class="navbar-btn" id="text_talk">Talk</a>
			<a href="https://ci.appveyor.com/project/PeyTy/tofita/build/artifacts" class="navbar-btn">Try</a>
			<a href="https://www.youtube.com/channel/UChcz5b20vDOk4ERoPs-pCbw" class="navbar-btn">YouTube</a>
			<a href="https://t.me/s/greenteaos_news" class="navbar-btn" id="text_blog">News</a>
			<a href="https://github.com/GreenteaOS" class="navbar-btn">GitHub</a>
			<a href="/donate" class="navbar-btn" id="text_donate">Donate</a>
		</div>
	</div>
	<a href="https://greenteaos.github.io"><img width="191px" height="191px" src="/assets/android-chrome-512x512.png" style="margin: 20px;margin-top: 45px;" /></a>
	<a href="https://github.com/GreenteaOS">
		<br /><span id="text_greentea_operating_system">Greentea Operating System</span>
		<br /><span id="text_about_exe">Free operating system aimed to run existing apps natively</span>
		<br /><span id="text_about_become">and become open-source desktop alternative</span>
		<br />
		<br />
	</a>
</div>
