<!DOCTYPE html>
<html lang="{{page.lang}}">

    <head>
        {% if page.root == true %}
        <script>
            var lang = ((window.navigator.languages && window.navigator.languages[0]) || window.navigator.userLanguage || window.navigator.language || window.navigator.systemLanguage).substr(0, 2).toLowerCase();
            av = {"ru":1,"it":1};
            if (av[lang]) {
                location.pathname = lang + location.pathname;
            }
        </script>
        {% endif %}
        <script>
            {% include font-caching.js %}
            loadFont("Lato Regular", "https://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff", "https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2");
            loadFont("Lato Bold", "https://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff", "https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2");
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% include localise.html string="title"  %}</title>
        <meta name="author" content="Greentea OS">
        <meta name="theme-color" content="#24c12e">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/images/favicon-16px.png" type="image/png" sizes="16x16">
        <link rel="icon" href="/images/favicon-32px.png" type="image/png" sizes="32x32">
        <link rel="icon" href="/images/favicon-96px.png" type="image/png" sizes="96x96">
        <!-- Twitter card -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@osgreentea" />
        <meta name="twitter:creator" content="Greentea OS Team" /> 
        <meta name="twitter:title" content="Greentea OS" /> 
        <meta name="twitter:description" content="Greentea OS is a fork of ReactOS, a free Windows-compatible Operating System written from scratch, but more user and production oriented. We would first make it *actually* usable for day-to-day use." /> 
        <meta name="twitter:image" content="https://osgreentea.github.io/images/opengraph.png" /> 
        <!-- Open graph -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Greentea OS" />
        <meta property="og:description" content="Greentea OS is a fork of ReactOS, a free Windows-compatible Operating System written from scratch, but more user and production oriented (than ReactOS itself). We would first make it *actually* usable for day-to-day use." />
        <meta property="og:url" content="https://osgreentea.github.io" />
        <meta property="og:image" content="https://osgreentea.github.io/images/opengraph.png" />
        <!-- Yandex -->
        <meta name="yandex-verification" content="32056ab36613b18e" />
        <!-- CSS -->
        <noscript>
            <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,700'>
        </noscript>
        <!--<link rel="stylesheet" href="/css/bootstrap.css">-->
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>

        <!-- Coming Soon -->
        <div class="coming-soon">
            <div class="backcode-wrap">
                <div class="backcode noselect">
                    {% highlight c#  linenos%}
                        {% include backcode.cpp %}
                    {% endhighlight %}
                </div>
                <div class="backcode noselect">
                    {% highlight c#  linenos%}
                        {% include backcode.cpp %}
                    {% endhighlight %}
                </div>
            </div>
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-12">
                            <img src="/images/logo.png" alt="Logo of Greentea OS" width="250" height="250">
                            <h2>{% include localise.html string="were-coming-soon" %}</h2>
                            <div class="coming-soon__paragraph-wrap">
                                <p id="m">{% include localise.html string="coming-soon_we-are-working" %}</p>
                            </div>
                            <a href='https://github.com/OSGreentea/Greentea/issues' class="bt btn-default">{% include localise.html string="become-a-dev" %}</a>
                            <div class="coming-soon__paragraph-wrap">
                                <p>{% include localise.html string="coming-soon_or" %}</p>
                            </div>
                            <a href='https://github.com/OSGreentea/Greentea/blob/master/README.md' class="bt btn-default">
                                {% include localise.html string="see-our-wiki" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="container">
            <div class="row">
                <div class="twitter-wrap">
                    <a class="twitter-timeline" data-link-color="#e75967" href="https://twitter.com/osgreentea">Tweets by osgreentea</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="about-us-wrap">
                    <h1>{% include localise.html string="about-us_header" %}</h1>
                    <p>{% include localise.html string="about-us" %}</p>
                </div>
            </div>
        </div>
        <!-- Footer -->
        {% include footer.html %}
 </body>

</html>
