{% assign theme-color = "#24c12e" %}
{% include head-start.html %}
        <!-- Yandex -->
        <meta name="yandex-verification" content="32056ab36613b18e" />
{% include head-end.html %}

    <body>
        <div class="content">
            <!-- Coming Soon -->
            <div class="coming-soon">
                <div class="backcode-wrap">
                    <div class="backcode noselect">
                        {% highlight c#  linenos%}
                            {% include backcode.cpp %}
                        {% endhighlight %}
                    </div>
                    <div class="backcode noselect">
                        {% highlight c#  linenos%}
                            {% include backcode.cpp %}
                        {% endhighlight %}
                    </div>
                </div>
                <div class="inner-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12">
                                <img src="/images/logo.png" alt="Logo of Greentea OS" width="250" height="250">
                                <h2>{% include localise.html string="were-coming-soon" %}</h2>
                                <div class="coming-soon__paragraph-wrap">
                                    <p id="m">{% include localise.html string="coming-soon_we-are-working" %}</p>
                                </div>
                                <a href='https://github.com/GreenteaOS/Greentea/issues' class="bt btn-default">{% include localise.html string="become-a-dev" %}</a>
                                <div class="coming-soon__paragraph-wrap">
                                    <p>{% include localise.html string="coming-soon_or" %}</p>
                                </div>
                                <a href='https://greenteaos.github.io/Greentea/' class="bt btn-default">
                                    {% include localise.html string="see-our-wiki" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Content -->
            <div class="container">
                <div class="row">
                    <div class="twitter-wrap">
                        <a class="twitter-timeline" data-link-color="#e75967" href="https://twitter.com/greenteaos">Tweets by greenteaos</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    <div class="about-us-wrap">
                        <h1>{% include localise.html string="about-us_header" %}</h1>
                        <p>{% include localise.html string="about-us" %}</p>
                        
                    </div>
                </div>
                <div class="row" id="download">
                        <h1 class="text-center"> Download</h1>
                        <div class="col-md-4">
                                <div class="panel panel-default">
                                        <div class="panel-body">
                                                <div class="text-center">
                                                        <a href="#">
                                                       <span class="fa-stack fa-4x">
                                                           <i class="fa fa-circle fa-stack-2x"></i>
                                                           <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                                </br>
                                                        <p>Download from Google Drive</p>
                                                        </a>
                                                
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="panel panel-default">
                                        <div class="panel-body">
                                                <div class="text-center">
                                                        <a href="#">
                                                       <span class="fa-stack fa-4x">
                                                           <i class="fa fa-circle fa-stack-2x"></i>
                                                           <i class="fa fa-magnet fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                                </br>
                                                        <p>Download from Torrent</p>
                                                        </a>
                                                
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="panel panel-default">
                                        <div class="panel-body">
                                                <div class="text-center">
                                                        <a href="#">
                                                       <span class="fa-stack fa-4x">
                                                           <i class="fa fa-circle fa-stack-2x"></i>
                                                           <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                                </br>
                                                        <p>See our Release Notes</p>
                                                        </a>
                                                
                                                </div>
                                        </div>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- Footer -->
        {% include footer.html %}
 </body>

</html>
