<script type="text/javascript">
window.texts = [{
	"id": "text_coming_soon",
	"ru": "Скоро",
}, {
	"id": "text_cryptocurrencies",
	"ru": "Криптовалюты",
	"uk": "Криптовалюти",
}, {
	"id": "text_blog",
	"ru": "Блог",
	"uk": "Блог",
}, {
	"id": "text_donate",
	"ru": "Помочь",
	"uk": "Допомогти",
}, {
	"id": "text_greentea_operating_system",
	"ru": "Операционная система Greentea OS",
	"uk": "Операційна система Greentea OS",
	"it": "Sistema operativo Greentea OS",
	"es": "Sistema operativo Greentea OS",
	"de": "Greentea OS Betriebssystem",
	"fr": "Système d'exploitation Greentea OS",
	"ja": "Greentea OSオペレーティングシステム",
}, {
	"id": "text_about_exe",
	"ru": "Бесплатная операционная система, предназначенная для запуска",
	"uk": "Безкоштовна операційна система, призначена для нативного запуску програм",
}, {
	"id": "text_about_become",
	"ru": "существующих приложений",
	"uk": "і стати відкритою настольною альтернативою",
}, {
	"id": "text_talk",
	"ru": "Чат",
	"uk": "Чат",
}, {
	"id": "text_open_in_wallet",
	"ru": "Открыть в кошельке",
	"uk": "Відкрити в гаманці",
}, {
	"id": "text_recurring",
	"ru": "Периодические пожертвования",
	"uk": "Періодичні пожертвування",
}, {
	"id": "text_about",
	"ru": "Проект Greentea OS",
	"uk": "Проект Greentea OS",
}, {
	"id": "text_other_donation",
	"ru": "ДРУГИЕ ВАРИАНТЫ ПОЖЕРТВОВАНИЯ",
	"uk": "ІНШІ ВАРІАНТИ ПОЖЕРТВУВАННЯ",
}, {
	"id": "text_our_goals",
	"ru": "НАШИ ЦЕЛИ",
	"uk": "НАШІ ЦІЛІ",
}, {
	"id": "text_further_reading",
	"ru": "Прочтите также",
	"uk": "Прочитайте також",
}];

</script>
