<script type="text/javascript">
window.texts = [{
	"id": "text_coming_soon",
	"ru": "Скоро",
}, {
	"id": "text_cryptocurrencies",
	"ru": "Криптовалюты",
}, {
	"id": "text_blog",
	"ru": "Блог",
}, {
	"id": "text_donate",
	"ru": "Помочь",
}, {
	"id": "text_greentea_operating_system",
	"ru": "Операционная система Greentea OS",
}, {
	"id": "text_about_exe",
	"ru": "Бесплатная операционная система, предназначенная для нативного запуска .exe приложений",
}, {
	"id": "text_about_become",
	"ru": "и стать открытой альтернативой Windows",
}, {
	"id": "text_talk",
	"ru": "Чат",
}, {
	"id": "text_open_in_wallet",
	"ru": "Открыть в кошельке",
}, {
	"id": "text_recurring",
	"ru": "Периодические пожертвования",
}, {
	"id": "text_about",
	"ru": "Проект Greentea OS",
}, {
	"id": "text_other_donation",
	"ru": "ДРУГИЕ ВАРИАНТЫ ПОЖЕРТВОВАНИЯ",
}, {
	"id": "text_our_goals",
	"ru": "НАШИ ЦЕЛИ",
}, {
	"id": "text_further_reading",
	"ru": "Прочтите также",
}];

</script>
