<script type="text/javascript">
window.texts = [{
	"id": "text_coming_soon",
	"en": "Soon",
	"es": "Próximamente",
	"ru": "Скоро",
	"ar": "قريباً",
}, {
	"id": "text_cryptocurrencies",
	"en": "Cryptocurrencies",
	"es": "Criptomonedas",
	"ru": "Криптовалюты",
	"uk": "Криптовалюти",
	"ar": "العملات الرقمية",
}, {
	"id": "text_blog",
	"en": "News",
	"es": "Novedades",
	"ru": "Блог",
	"uk": "Блог",
	"ar": "الأخبار",
}, {
	"id": "text_donate",
	"en": "Donate",
	"es": "Donar",
	"ru": "Помочь",
	"uk": "Допомогти",
	"ar": "تبرّع",
}, {
	"id": "text_greentea_operating_system",
	"en": "Greentea Operating System",
	"ru": "Операционная система Greentea OS",
	"uk": "Операційна система Greentea OS",
	"it": "Sistema operativo Greentea OS",
	"es": "Sistema operativo Greentea OS",
	"de": "Greentea OS Betriebssystem",
	"fr": "Système d'exploitation Greentea OS",
	"ja": "Greentea OSオペレーティングシステム",
	"ar": "Greentea OS نظام تشغيل",
}, {
	"id": "text_about_exe",
	"en": "Free operating system aimed to run existing apps natively",
	"es": "Sistema operativo gratuito destinado a ejecutar aplicaciones existentes de forma nativa",
	"ru": "Бесплатная операционная система, предназначенная для запуска",
	"uk": "Безкоштовна операційна система, призначена для нативного запуску програм",
	"ar": "نظام تشغيل مفتوح المصدر يهدف الى تشغيل التطبيقات الحالية بسلاسة",
}, {
	"id": "text_about_become",
	"en": "and become open-source desktop alternative",
	"es": "y convertirse en una alternativa de escritorio de código abierto",
	"ru": "существующих приложений",
	"uk": "і стати відкритою настольною альтернативою",
	"ar": "وأن يصبح بديل مفتوح المصدر لأجهزة الكمبيوتر",
}, {
	"id": "text_talk",
	"en": "Talk",
	"es": "Chat",
	"ru": "Чат",
	"uk": "Чат",
	"ar": "تحدّث",
}, {
	"id": "text_open_in_wallet",
	"en": "Open in wallet",
	"es": "Abrir en cartera",
	"ru": "Открыть в кошельке",
	"uk": "Відкрити в гаманці",
	"ar": "فتح في المحفظة",
}, {
	"id": "text_recurring",
	"en": "Recurring donations",
	"es": "Donaciones recurrentes",
	"ru": "Периодические пожертвования",
	"uk": "Періодичні пожертвування",
	"ar": "التبرعات الدورية",
}, {
	"id": "text_about",
	"en": "About Greentea OS",
	"es": "Acerca de Greentea OS",
	"ru": "Проект Greentea OS",
	"uk": "Проект Greentea OS",
	"ar": "Greentea OS عن",
}, {
	"id": "text_other_donation",
	"en": "OTHER DONATION OPTIONS",
	"es": "OTRAS OPCIONES DE DONACIÓN",
	"ru": "ДРУГИЕ ВАРИАНТЫ ПОЖЕРТВОВАНИЯ",
	"uk": "ІНШІ ВАРІАНТИ ПОЖЕРТВУВАННЯ",
	"ar": "طرق اخرى للتبرع",
}, {
	"id": "text_our_goals",
	"en": "OUR GOALS",
	"es": "NUESTROS OBJETIVOS",
	"ru": "НАШИ ЦЕЛИ",
	"uk": "НАШІ ЦІЛІ",
	"ar": "أهدافنا",
}, {
	"id": "text_further_reading",
	"en": "Further Reading",
	"es": "Más información",
	"ru": "Прочтите также",
	"uk": "Прочитайте також",
	"ar": "اقرأ اكثر"
}];

</script>
