@media (max-width: 991px) {
    .about-us-wrap {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .about-us-wrap {
        width: 50%;
    }
}
.about-us-wrap {
    padding: 0 15px;
    float: left;
}
