{% assign ref = "download" %}
<!DOCTYPE html>
<html lang="en">

    <head>
        {% include redirect.js available = "'ru':true" %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Download - GreenTeaOS</title>
        <meta name="author" content="GreenTea OS">
        
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,700'>
        <link rel="stylesheet" href="/css/bootstrap.css">
        
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-1.11.1.js"></script>
         <script src="/js/bootstrap.js"></script>
    </head>

    <body>
        {% include header.html %}
        <div class="">
            <div class="container" style="margin-top:10em;text-align:center;">
                <h2>Download GreenTeaOS Now</h2>
                <p class="alert alert-warning">Please warning, this os is still in alpha. Many features can be absent.</p> <br>
                
                <a href="/features">While your browser is downloading our OS, check features</a>
            
                <button class="btn-lg btn-primary" data-borl="LiveCD" data-target="#bootcdModal" data-toggle="modal">Download Livecd</button> <br>
                <button class="btn-lg btn-primary" data-borl="LiveCD" data-target="#bootcdModal" data-toggle="modal">Download BootCD</button>
                
                <div class="modal fade" id="bootcdModal" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="border: 2px solid rgb(0, 136, 204);">
                            <div class="modal-header"><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Help GreenTeaOS</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>We have some great idea, but not much money!</h2>
                                        <p>Help GreenTeaOS with donations. We can use them for raising new developers or maintain hosting and others</p>
                
                    
                                        <div class="content">
                                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="single-donation-form donation-form">
                                                <div class="inner_content">
                                                    <input type="hidden" name="lc" value="US" />
                                                    <input name="landing_page" type="hidden" value="billing" />
                                                    <input name="cpp_cart_border_color" type="hidden" value="FF0000" />
                                                    <input name="cpp_payflow_color" type="hidden" value="D20137" />
                                                    <input name="business" type="hidden" value="deutschland@reactos.org" />
                                                    <input name="cmd" type="hidden" value="_donations" />
                                                    <input type="hidden" name="notify_url" value="">
                                                    <input type="hidden" name="return" value=""/>
                                                    <input name="item_name" type="hidden" value="ReactOS One-Time Donation" />
                                                    <div class="row column">
                                                        <div class="col-md-8">
                                                            <input id="pre_single_0" type="checkbox" class="donation-amount donation-single" value="5" /> <label for="pre_single_0"><span>€5</span></label><input id="pre_single_1" type="checkbox" class="donation-amount donation-single" value="10" /> <label for="pre_single_1"><span>€10</span></label><input id="pre_single_2" type="checkbox" class="donation-amount donation-single" value="15" /> <label for="pre_single_2"><span>€15</span></label>                <label class="dollar">€</label><input name="other" size="4" type="text" value="" class="other" />
                                                        </div>
                                                        <div class="col-md-4"><button href="#" class="donation-submit-button btn-lg btn-primary">Donate now</button> <input type="hidden" value="" name="amount" class="amount-holder"/></div>
                                                    </div>
                                                    <input name="currency_code" type="hidden" value="EUR" /><br />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"><a href="github.com/hello" style="font-size: 16px;">No, thanks. Let's proceed with the download! </a></div>
                       </div>
                    </div>
                </div>
   
                <div class="col-md-12">
                    <h2>Advanced Downloads for GreenTeaOS!</h2>
                    <p class="lead">Here are some preloaded packages for some popular Virtual Machines, and of course the source code package with sdk.</p>
                </div>
            </div>

            <!-- 
            <div class="row featured-boxes">
                <div class="col-md-3">
                    <div class="featured-box  responsive  pull-left">
                        <div class="box-content">
                            <h4><a href="http://downloads.sourceforge.net/reactos/0.4.0/ReactOS-0.4.0-REL-QEMU.zip">Qemu Preloaded</a></h4>
                            <p><a href="http://downloads.sourceforge.net/reactos/0.4.0/ReactOS-0.4.0-REL-QEMU.zip">This zip includes a Qemu config file and a virtual drive file with ReactOS installed.</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-box responsive pull-left">
                        <div class="box-content">
                            <h4><a href="https://sourceforge.net/projects/reactos/files/ReactOS/0.4.1/ReactOS-0.4.1-REL-VMware.zip/download">Vmware Preloaded</a></h4>
                            <p><a href="https://sourceforge.net/projects/reactos/files/ReactOS/0.4.1/ReactOS-0.4.1-REL-VMware.zip/download">This zip includes a Vmware config file and a virtual drive file with ReactOS installed.</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-box featured-box-vbox responsive pull-left">
                        <div class="box-content">
                            <h4><a href="http://downloads.sourceforge.net/reactos/ReactOS-0.4.0-REL-vbox.zip">VirtualBox Preloaded</a></h4>
                            <p><a href="http://downloads.sourceforge.net/reactos/ReactOS-0.4.0-REL-vbox.zip">This zip includes a VirtualBox config file and a virtual drive file with ReactOS installed.</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-box featured-box-orange responsive  pull-left">
                        <div class="box-content">
                            <h4><a href="http://downloads.sourceforge.net/reactos/ReactOS-0.4.0-src.zip">Source Code</a></h4>
                            <p><a href="http://downloads.sourceforge.net/reactos/ReactOS-0.4.0-src.zip">Download the 9.000.000+ lines of code. Hack them all! </a></p>
                        </div>
                    </div>
                </div>
            </div> -->
            
            
        </div>        
        {% include footer.html %}
    </body>
</html>
