{% assign ref = "download" %}
<!DOCTYPE html>
<html lang="en">

    <head>
        {% include redirect.js available = "'ru':true" %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Download - GreenTeaOS</title>
        <meta name="author" content="GreenTea OS">
        
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,700'>
        <link rel="stylesheet" href="/css/bootstrap.css">
        
        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>
        {% include header.html %}
        <div class="row">
            <div class="container" style="margin-top:10em;text-align:center;">
                <h2>Coming soon</h2>
                <!-- WIP -->
                <p class="warning">Please warning, this os is still in alpha. Many features can be absent.</p>
                <a class="btn btn-info" href"#">Download Now</a>
            </div>
        </div>        
        {% include footer.html %}
    </body>
</html>
