{% capture title %}{% include localise.html string="header_download" %}{% endcapture %}

{% assign ref = "download" %}

{% include head-start.html %}

{% include head-end.html %}

    <body>
        {% include header.html %}
        <div class="content">
            <div class="container" style="margin-top:10em;text-align:center;">
                <h2>Download Greentea OS Now</h2>
                <p class="alert alert-warning">Please warning, this os is still in alpha. Many features can be absent.</p>

                <a href="/features">While your browser is downloading our OS, check features</a> </br>

                <button class="btn-lg btn-primary" data-borl="LiveCD" data-target="#bootcdModal" data-toggle="modal">Download Livecd</button> </br>
                <button class="btn-lg btn-primary" data-borl="LiveCD" data-target="#bootcdModal" data-toggle="modal">Download BootCD</button>

                <div class="modal fade" id="bootcdModal" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="border: 2px solid rgb(0, 136, 204);">
                            <div class="modal-header"><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Help Greentea OS</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>We have some great idea, but not much money!</h2>
                                        <p>Help Greentea OS with donations. We can use them for raising new developers or maintain hosting and others</p>


                                        <div class="content">
                                            <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml" target="_blank" class="single-donation-form donation-form">
                                                <div class="inner_content">
                                                    <input type="hidden" name="receiver" value="41001604541993">
                                                    <input type="hidden" name="formcomment" value="Greentea OS team">
                                                    <input type="hidden" name="short-dest" value="поддержка Greentea OS">
                                                    <input type="hidden" name="quickpay-form" value="donate">
                                                    <input type="hidden" name="targets" value="на развитие проекта Greentea OS">

                                                    <input type="hidden" name="need-fio" value="false">
                                                    <input type="hidden" name="need-email" value="false">
                                                    <input type="hidden" name="need-phone" value="false">
                                                    <input type="hidden" name="need-address" value="false">
                                                    <div class="col-md-8">
                                                        <div style="position: relative;display: inline-block;">
                                                            <div class="payment-options col-md-12">
                                                                <h4 style="text-align: left;">Сумма</h4>
                                                                <input id="sum-1" class="payment-options_control visually-hidden" type="radio" name="sum" value="1000" data-type="number"><label class="btn btn-primary payment-option" for="sum-1">1000</label>
                                                                <input id="sum-2" class="payment-options_control visually-hidden" type="radio" name="sum" value="500" data-type="number"><label class="btn btn-primary payment-option" for="sum-2">500</label>
                                                                <input id="sum-3" class="payment-options_control visually-hidden" type="radio" name="sum" value="100" data-type="number" checked>
                                                                <label class="btn btn-primary payment-option" for="sum-3">
                                                                    <input type="text" value="100" onkeyup="document.getElementById('sum-3').value = this.value;" onfocus="document.getElementById('sum-3').checked=true;this.focus();" pattern="\d+([,.]\d{1,2})?"
                                                                        style="border: 0;
                                                                        height: 1em;
                                                                        background: 0;
                                                                        border-bottom: 1px solid #DEDEDE;
                                                                        width: 5em;
                                                                        outline: none;
                                                                        text-align: center;">
                                                                </label>
                                                            </div>
                                                            <br>
                                                            <div class="payment-options col-md-12">
                                                                <h4 style="text-align: left;">Способ оплаты</h4>
                                                                <input id="paymentType-1" class="payment-options_control visually-hidden" type="radio" name="paymentType" value="PC"><label for="paymentType-1" class="btn btn-primary payment-option"><img src="/assets/images/quickpay-widget__yamoney.png" alt="yandex money"></label>
                                                                <input id="paymentType-2" class="payment-options_control visually-hidden" type="radio" name="paymentType" value="MC"><label for="paymentType-2" class="btn btn-primary payment-option"><img src="/assets/images/quickpay-widget__mobile.png" alt="mobile"></label>
                                                                <input id="paymentType-3" class="payment-options_control visually-hidden" type="radio" name="paymentType" value="AC" checked><label for="paymentType-3" class="btn btn-primary payment-option"><img src="/assets/images/quickpay-widget__any-card.png" alt="card"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" class="donation-submit-button btn-lg btn-primary" style="float: right;margin-top: 1em;">Перевести</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"><a href="github.com/hello" style="font-size: 16px;">No, thanks. Let's proceed with the download! </a></div>
                       </div>
                    </div>


                <div class="col-md-12">
                    <h2>Advanced Downloads for Greentea OS!</h2>
                    <p class="lead">Here are some preloaded packages for some popular Virtual Machines, and of course the source code package with sdk.</p>
                </div>
                </div>
            </div>

            <!--
            <div class="row featured-boxes">
                <div class="col-md-3">
                    <div class="featured-box  responsive  pull-left">
                        <div class="box-content">
                            <h4><a href="0.4.0-REL-QEMU.zip">Qemu Preloaded</a></h4>
                            <p><a href="0.4.0-REL-QEMU.zip">This zip includes a Qemu config file and a virtual drive file with Greentea installed.</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-box responsive pull-left">
                        <div class="box-content">
                            <h4><a href="0.4.1-REL-VMware.zip/download">Vmware Preloaded</a></h4>
                            <p><a href="0.4.1-REL-VMware.zip/download">This zip includes a Vmware config file and a virtual drive file with Greentea installed.</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-box featured-box-vbox responsive pull-left">
                        <div class="box-content">
                            <h4><a href="REL-vbox.zip">VirtualBox Preloaded</a></h4>
                            <p><a href="REL-vbox.zip">This zip includes a VirtualBox config file and a virtual drive file with Greentea installed.</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-box featured-box-orange responsive  pull-left">
                        <div class="box-content">
                            <h4><a href="0.4.0-src.zip">Source Code</a></h4>
                            <p><a href="0.4.0-src.zip">Download the 9.000.000+ lines of code. Hack them all! </a></p>
                        </div>
                    </div>
                </div>
            </div> -->


        </div>
        {% include footer.html %}
    </body>
</html>
