{% capture title %}{% include localise.html string="header_donate-us" %}{% endcapture %}

{% assign ref = "donations" %}

{% include head-start.html %}

{% include head-end.html %}

    <body>
        {% include header.html %}
        <div class="row">
            <div class="container" style="margin-top:10em;text-align:center;">
        <h1>We need your help</h1>
        <p class="lead">GreenTeaOS is a free Operating system</p> <br>
        
        <h2>Developers, hosting and more</h2>
        <p>We will use your money to make better our product. We are in 10 developers but we need more!</p>
        
        <h2>Donation now!</h2>
    <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/donate.xml?account=41001604541993&quickpay=donate&payment-type-choice=on&default-sum=100&targets=PeyTy%60s+Open+Source+Projects&target-visibility=on&project-name=OSGreenTea&project-site=https%3A%2F%2Fosgreentea.github.io&button-text=01&comment=on&hint=Wishes%3F&successURL=http%3A%2F%2Fosgreentea.github.io%2Fthanks.html" width="521" height="204"></iframe>
  <small>Offer us a coffee ;)</small>
 </div>

 {% include footer.html %}
 
    </div>
  </body>
</html>
