{% capture title %}{% include localise.html string="header_donate-us" %}{% endcapture %}

{% assign ref = "donations" %}

{% include head-start.html %}

{% include head-end.html %}

    <body>
        {% include header.html %}
        <div class="row">
            <div class="container" style="margin-top:10em;text-align:center;">
        <h1>We need your help</h1>
        <p class="lead">Greentea OS is a free Operating system</p> <br>
        
        <h2>Developers, hosting and more</h2>
        <p>We will use your money to make better our product. We are in 10 developers but we need more!</p>
        
        <form class="col-md-6 col-sd-12" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml" target="_blank" class="single-donation-form donation-form">
            <div class="inner_content">
                <input type="hidden" name="receiver" value="41001604541993">
                <input type="hidden" name="formcomment" value="Greentea OS team">
                <input type="hidden" name="short-dest" value="поддержка Greentea OS">
                <input type="hidden" name="quickpay-form" value="donate">
                <input type="hidden" name="targets" value="на развитие проекта Greentea OS">
                
                <input type="hidden" name="need-fio" value="false">
                <input type="hidden" name="need-email" value="false">
                <input type="hidden" name="need-phone" value="false">
                <input type="hidden" name="need-address" value="false">
                <input type="hidden" name="paymentType" value="AC">
                <div class="col-md-12">
                    <button type="submit" class="donation-submit-button btn-lg btn-primary" name="sum" value="1000">1000 ₽</button>
                    <button type="submit" class="donation-submit-button btn-lg btn-primary" name="sum" value="500">500 ₽</button>
                    <button type="submit" class="donation-submit-button btn-lg btn-primary" name="sum" value="100">100 ₽</button>
                </div>
            </div>
        </form>
        <form class="col-md-6 col-sd-12 sd-margin-top" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml" target="_blank" class="single-donation-form donation-form">
            <div class="inner_content">
                <input type="hidden" name="receiver" value="41001604541993">
                <input type="hidden" name="formcomment" value="Greentea OS team">
                <input type="hidden" name="short-dest" value="поддержка Greentea OS">
                <input type="hidden" name="quickpay-form" value="donate">
                <input type="hidden" name="targets" value="на развитие проекта Greentea OS">
                
                <input type="hidden" name="need-fio" value="false">
                <input type="hidden" name="need-email" value="false">
                <input type="hidden" name="need-phone" value="false">
                <input type="hidden" name="need-address" value="false">
                <input type="hidden" name="paymentType" value="AC">
                <input class="own-value-input" type="text" name="sum" placeholder="Your value" autocomplete="false">
                <button class="own-value-submit donation-submit-button btn-lg btn-primary" type="submit">Donate</button>
            </div>
        </form>
        <br><br><br><br> <!-- HACK: consider use flex boxes for page layout -->

 </div>

 {% include footer.html %}
 
    </div>
  </body>
</html>
