{% capture title %}{% include localise.html string="header_about-us" %}{% endcapture %}
{% assign ref = "about-us" %}

{% include head-start.html %}

{% include head-end.html %}

    <body>
        {% include header.html %}
        <div class="">
            <div class="container" style="margin-top:10em;text-align:center;">
                <h1>About US</h1>
                <p class="lead">We are some developers with one goal: provide a windows open source</p>
                
                <h2>Our words are: stability, velocity and compatibility </h2>
                <p>Take the power of Greentea OS and come here!</p>
                    
                </div>
            </div>
            
            
        </div>        
        {% include footer.html %}
    </body>
</html>
