<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
	/>
	<meta name="MobileOptimized" content="176" />

	<title>{{ page.title }}</title>
	{% seo title=false %}
</head>

<body>
	{% include blog-style.html %} {% include github-style.html %}
	<header>
		<div class="container">
			<nav class="main-nav">
				<ul>
					<li>
						<a href="https://github.com/greenteaos">GitHub</a>
					</li>
					<li>
						<a href="https://www.patreon.com/PeyTy">Patreon</a>
					</li>
				</ul>
			</nav>
			<div>
				<a href="/"><img src="{{ site.baseurl }}/assets/favicon-96x96.png" width="30" height="30">Greentea OS</a><strong><a href="/blog">Blog</a></strong>
			</div>
		</div>
	</header>
	<div class="content">
		<div class="blog-post">
			<h2>{{ page.title }}</h2>
			{{ content }}
		</div>
	</div>
	<footer>
		<div class="container">
			<p class="">
				<a href="https://github.com/PeyTy">Created by PeyTy</a>
				<a class="hide-sm" href="https://github.com/GreenteaOS/greenteaos.github.io/blob/master/{{page.path}}" style="float: right; padding: 0 10px;">Edit this page</a>
			</p>
		</div>
	</footer>
    {% include scripts.html %}
</body>

</html>
