<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
	/>
	<meta name="MobileOptimized" content="176" />
	<meta name="keywords" content="GreenteaOS greentea operating system">
	<meta name="description" content="Greentea OS is a free operating system aimed to run .exe files natively" />

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/assets/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">

	<meta name="google-site-verification" content="r9QR0nzVoCSoh04LhsLau403jbzC4weuqk0ypB1LD1g" />

	<title>{{ page.title }}</title>
	{% seo title=false %}
</head>

<body>
	{% include blog-style.html %} {% include github-style.html %}
	<header>
		<div class="container">
			<nav class="main-nav">
				<ul>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/wiki">Wiki</a>
					</li>
					<li>
						<a href="https://github.com/greenteaos">GitHub</a>
					</li>
					<li>
						<a href="/donate">Donate</a>
					</li>
					<li>
						<a href="https://www.patreon.com/PeyTy">Patreon</a>
					</li>
				</ul>
			</nav>
			<div>
				<a href="/"><img src="{{ site.baseurl }}/assets/favicon-96x96.png" width="22" height="22">&nbsp;Greentea OS</a><strong><a href="https://www.patreon.com/PeyTy"></a></strong>
			</div>
		</div>
	</header>
	<div class="content">
		<div class="blog-post">
			<h2>{{ page.title }}</h2>
			{{ content }}
		</div>
	</div>
	<footer>
		<div class="container">
			<p class="">
				<a href="https://github.com/PeyTy">Created by PeyTy</a>
				<a class="hide-sm" href="https://github.com/GreenteaOS/greenteaos.github.io/blob/master/{{page.path}}" style="float: right; padding: 0 10px;">Edit this page</a>
			</p>
		</div>
	</footer>
    {% include texts.html %}
    {% include scripts.html %}
</body>

</html>
