{% assign ref = "home" %}

{% include head-start.html %}

{% include head-end.html %}

    <body>
        {% include header.html %}
        <div class="content">
            <div class="wrapper">
                <div class="container">
                    <div id="about" class="section white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>THIS PAGE IS <mark>NOT</mark> A HOME PAGE LOL</h2>
                                <br>
                                <h2><a href="https://greenteaos.github.io">PLEASE VISIT THIS LINK</a></h2>
                                <br>
                                <h2>WELCOME TO <mark>GREENTEA OS</mark> What is it?</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p style="font-size: 18px;">Warm and cozy operating system, free and open-source</p>
                                <p style="font-size: 18px;">Greentea OS is based on <a href="https://en.wikipedia.org/wiki/Wine_(software)" rel="noopener">WHQ</a> project. WHQ is an open source effort to develop an environment that is compatible with existing applications.</p>
                            </div>
                            <div class="col-md-6">
                                <img src="/assets/images/logo.png" alt="Logo of Greentea OS" class="img-responsive" height="350" width="250" style="margin:auto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="container">
                    <div class="section white" style="text-align:center">
                        <h2>Greentea app manager</h2>
                        <p style="font-size: 18px;">No need to search software in the web anymore!</p>
                        <img src="https://pp.vk.me/c636926/v636926622/1d9ba/-0NFMvent9o.jpg" alt="Logo of Greentea OS" class="img-responsive" style="/* border-radius: 5%; */max-width: 90%;margin: auto;">
                    </div>
                </div>
            </div>
            <div class="section" style="background:#e6eef1;">
                <div class="container">
                    <div class="col-md-12" style="text-align: center;">
                        <h2>Applications!</h2>
                        <p>Millions of them!</p>
                        <img class="app-icon" src="/assets/images/apps/Firefox.svg" alt="Firefox">
                        <img class="app-icon" src="/assets/images/apps/Thunderbird.svg" alt="Mozilla Thunderbird">
                        <img class="app-icon" src="/assets/images/apps/Steam.svg" alt="Steam">
                    </div>
                </div>
            </div>


            <!-- For blog <ul>
                {% for post in site.posts %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul> -->
        </div>
        {% include footer.html %}
    </body>
</html>
