---
---
{% capture title %}{% include localise.html string="header_download" %}{% endcapture %}

{% assign ref = "download" %}

{% include head-start.html %}

{% include head-end.html %}

    <body>
        {% include header.html %}
        <br>COMING SOON
        <div class="content">
            <div class="container" style="margin-top:10em;text-align:center;">
                <h2>Download Greentea OS Now</h2>
                <p class="alert alert-warning">Please warning, this os is still in alpha. Many features can be absent.</p>

                <a href="/features">While your browser is downloading our OS, check features</a> </br>

                <button class="btn-lg btn-primary" data-borl="LiveCD" data-target="#bootcdModal" data-toggle="modal">Download Livecd</button> </br>
                <button class="btn-lg btn-primary" data-borl="LiveCD" data-target="#bootcdModal" data-toggle="modal">Download BootCD</button>

                <div class="modal fade" id="bootcdModal" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="border: 2px solid rgb(0, 136, 204);">
                            <div class="modal-header"><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Help Greentea OS</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>We have some great idea, but not much money!</h2>
                                        <p>Help Greentea OS with donations. We can use them for raising new developers or maintain hosting and others</p>

                                        <div class="content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"><a href="github.com/hello" style="font-size: 16px;">No, thanks. Let's proceed with the download! </a></div>
                       </div>
                    </div>


                <div class="col-md-12">
                    <h2>Advanced Downloads for Greentea OS!</h2>
                    <p class="lead">Here are some preloaded packages for some popular Virtual Machines, and of course the source code package with sdk.</p>
                </div>
                </div>
            </div>

            <div class="row featured-boxes">
                <div class="col-md-3">
                    <div class="featured-box  responsive  pull-left">
                        <div class="box-content">
                            <h4><a href="0.4.0-REL-QEMU.zip">Qemu Preloaded</a></h4>
                            <p><a href="0.4.0-REL-QEMU.zip">This zip includes a Qemu config file and a virtual drive file with Greentea installed.</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-box responsive pull-left">
                        <div class="box-content">
                            <h4><a href="0.4.1-REL-VMware.zip/download">Vmware Preloaded</a></h4>
                            <p><a href="0.4.1-REL-VMware.zip/download">This zip includes a Vmware config file and a virtual drive file with Greentea installed.</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-box featured-box-vbox responsive pull-left">
                        <div class="box-content">
                            <h4><a href="REL-vbox.zip">VirtualBox Preloaded</a></h4>
                            <p><a href="REL-vbox.zip">This zip includes a VirtualBox config file and a virtual drive file with Greentea installed.</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-box featured-box-orange responsive  pull-left">
                        <div class="box-content">
                            <h4><a href="0.4.0-src.zip">Source Code</a></h4>
                            <p><a href="0.4.0-src.zip">Download the 9.000.000+ lines of code. Hack them all! </a></p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        {% include footer.html %}
    </body>
</html>
